.ecology{
	width: 170px;
}
.ticket{
	width: 130px;
	height: 108px;
}
.logoImage{
	margin-top: 35px;
}
.menuItem{
	*display: inline;
	zoom: 1;
}
.oderInput{
    width: 225px;
    height: 23px;
    padding-top: 7px;
}
.instruction{
    width: 335px;
    height: 63px;

}
.instrContainer{
	margin-top: -65px;
}
.instructionBG{
	height: 22px;
}
.oder .instrContainer{
    display: none;
}
.content .instrContainer{
    display: block;
}
.menuItem{
	    padding: 10px 5px;
}
.instrImg{
	bottom: 0;
}
.instrText{
	margin-bottom: 5px;
}
.oderTextArea{
	font-family: Tahoma;
}
/*Diller Page*/
.notMainPage .logoImage{
    margin-top: 34px;
}

.whiteInput{
	padding-top: 7px;
	height: 23px;
	width: 225px;
}
.whiteTextarea{
	font-family: Tahoma;
	width: 279px;
}
input#telI{
    width: 103px;
}

/*Documents page*/
.rightAlgInstr{
	width: 237px;
	height: 353px;
}

.document{
	width: 169px;
	height: 115px;
}
.documentsLine{
	position: relative;
	zoom: 1;
}
.dilerinform{
	margin-bottom: 50px;
}
.rightAlgInstr{
	top: -45px;
}