* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	margin: 0;
	font-family: "Trebuchet MS", Tahoma, "verdana",  Helvetica, arial, sans-serif;
}
ul{
	margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
input:focus{
    outline:none;
}
textarea:focus{
    outline: none;
}
img{
    border: 0;
}
p,img{
    margin: 0;
    padding: 0;
}


.page{
    z-index: 2;
    min-width: 1040px;
    background: url(img/bgImg.png);
}
.clearfix:after{
    clear: both;
    content: " ";
    display: block;
}
.pageContainer{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.header{
    position: relative;
    height: 84px;
    border-bottom: 10px solid black;
    width: 100%;
    z-index: 5;
    margin-bottom: 57px;
}
.notMainPage .header{
    margin: 0;
}
.fon{
    position: absolute;
    z-index: 3;
    left: -233px;
    top: 0;
}
.logo{
    float: left;
}
.logoImage{
    margin-top: 25px;
}
 .menu{
     float: right;
     position: relative;
 }
 .menu ul{
    list-style-type: none;
    margin-top: 22px;
    margin-right: 58px;
    letter-spacing: 2px;
 }
 .menuItem{
     display: inline-block;
    margin: 0 14px;
     
 }
 .menuItem a{
     font-size: 12px;
     font-weight: bold;
     color: #19170f;
     border-bottom: 1px solid #cabe79;
     padding-bottom: 2px;
 }
 .menuItem a:hover{
     border-color:transparent;
 }
.lastItem{
    border: 1px solid #cabe79;
    padding: 10px 12px;
    border-radius:20px;
    cursor: pointer;
    font-size: 12px;
     font-weight: bold;
     color: #19170f;
     border-bottom: 1px solid #cabe79;
     margin: 0;
}
.lastItem span{
    border-bottom: 1px dotted #947d3d;
    padding-bottom: 2px;
}
.lastItem span:hover{
    border-color:transparent;
}


.ticket{
    width: 170px;
    height: 140px;
    position: absolute;
    top: 70px;
    right: 32px;
    background: #FFF;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #000000;
    padding: 16px 20px;
    line-height: 20px;
}
.notitalic{
    font-style: normal;
}
.email{
    padding-top: 18px;
}
.email a{
    font-style: normal;
    color: #21448b;
    border-bottom: 1px solid #d2d9e7;
}
.email a:hover{
    border-color: transparent;
}
.borderBottom{
    width: 100%;
    position: absolute;
    background: url(img/ticketborder.png);
    height: 4px;
    bottom: -3px;
    left: 0;
}
.content{
    position: relative;
    z-index: 3;
    color: #18140a;
}
.notMainPage .content{
    background: white;
    height: 1405px;
}
.textContent{
    height: 635px;
}
.leftColumn{
    width: 350px;
    float: left;
    position: relative;
    z-index: 20;
}
.centerColumn{
    width: 380px;
    float: left;
    position: relative;
    z-index: 20;
}
.centerColumn img{
    margin-left: -25px;
    margin-top: 20px;
}
.rightColumn{
    width: 230px;
    float: left;
    text-align: center;
    position: relative;
    z-index: 20;
}
.rightColumn img{
    margin-top: 20px;
}
.bigHeader{
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
}
.italicContent{
    font-size: 14px;
    font-style: italic;
    line-height: 21px;
}
.leftColumn .italicContent{
    margin-top: 9px;
}
.mediumHeader{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.leftColumn .mediumHeader{
    margin-top: 36px;
    width: 260px;
}
.centerColumn .mediumHeader{
    margin-top: -30px;
    width: 200px;
    margin-left: 50px;
}
.rightColumn .mediumHeader{
    margin-top: 120px;
    width: 200px;
    margin-left: 15px;
    
}
.box{
    position: absolute;
    bottom: -33px;
    left: 120px;
}
.ecology{
    position: absolute;
    width: 210px;
    height: 183px;
    top: 119px;
    right: 159px;
    color: white;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    padding: 83px 20px;
}
.videoContainer{
    position: relative;
    background: url(img/videoBg.jpg) center;
height: 381px;
}

.videoImg{
    width: 100%;
}
.videoPart{
    position: relative;
    margin-top: -12px;
}
.ground{
    background: url(img/ground.png) repeat-x;
    height: 156px;
    margin-top: -5px;
}
.videoContent{
    position: absolute;
    color: #FFF;
    font-size: 41px;
    line-height: 48px;
    top: 45px;
    width: 784px;
    text-align: center;
    left: 85px;
    letter-spacing: 2px;
    }
.playButton{
    margin-top: 30px;
}
.playButton:hover{
    cursor: pointer;
}
.instrContainer{
    position: relative;
    margin-top: -65px;
}
.content .instrContainer{
    display: none;
}
.instructionBG{
    width: 460px;
    height: 28px;
    position: absolute;
    background: #bfa14e;
    bottom: -4px;
    left:254px;
}
.instruction{
    width: 460px;
    height: 78px;
    padding-left: 100px;
    background: #f9eb97;
    margin-top: -65px;
    position: relative;
    left: 250px;
    z-index: 100;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    padding-right: 25px;
}
.instruction:hover{
    cursor: pointer;
    text-decoration: none;
}
.oder{
    position: relative;
    margin-bottom: 65px;
}
.instrImg{
    display: block;
    position: absolute;
    left: 12px;
    bottom: -5px;
}
.instrBorder{
    background: url(img/instructionBorder.png) repeat-x;
    height: 6px;
margin-top: -19px;
width: 460px;
margin-left: -100px;
}
.instrText{
    padding-top: 15px;
}
.instrText span{
    border-bottom: 1px solid #c7bc79;
}
.instrText:hover span{
    border-bottom-color: transparent;
}
.oderHeader{
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-top: 35px;
    margin-bottom: 45px;
}
.leftOderColumn{
    width: 319px;
    float: left;
    
}
.centerOderColumn{
    width: 319px;
    float: left;
}
.rightOderColumn{
    width: 322px;
    float: left;
}

.smallHeader{
    font-size: 14px;
    line-height: 20px;
    color: black;
}
.red{
    color: #d74b2f;
}
.oderInput{
    width: 235px;
    height: 30px;
    border: 1px solid #b3974a;
    background: #edc55c;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 10px;
}
input.telephone{
    width: 135px;
}
.radioLabel{
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    color: #483d1e;
    cursor: pointer;
}
.rightLabel{
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    color: #483d1e;
    float: right;
margin-top: -20px;
margin-right: 70px;
}
.radioInput{
    float: left;
    margin-right: 10px;
}
.inpForm{
    margin-top: 18px;
}
.smallItalicText{
    font-size: 14px;
    font-style: italic;
    color: #7b6833;
    font-weight: normal;
    line-height: 20px;
    margin-top: 20px;
    width: 250px;
}
.oderTextArea{
    width: 263px;
    border: 1px solid #b3974a;
    background: #edc55c;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    font-family: Tahoma;
}
.italic{
    font-size: 14px;
    font-style: italic;
    color: #6a5a2b;
    padding-left: 10px;
    vertical-align: middle;
}
.centerOderColumn .mediumHeader{
    margin-top: 56px;
}
.sendButton img:hover{
    cursor: pointer;
}
.sendButton img{
    margin-top: 35px;
}
.footerBorder{
    background: url(img/footerBorder.png) repeat-x;
    height: 9px;
    margin: 0 25px;
}
.footer .pageContainer{
    margin-top: 50px;
}
.telNumber{
    font-size: 29px;
    line-height: 35px;
}
.footer{
    padding-bottom: 35px;
}
.footer .mediumHeader{
    margin-top: 0;
    font-size: 16px;
    line-height: 30px;
}
.footerEmail{
    font-size: 29px;
line-height: 35px;
    color: #2f4d88;
    margin-bottom: 25px;
}
.footerEmail a{
    border-bottom: 1px solid #9f9674;
    color: #2f4d88;
}
.footerEmail a:hover{
    border-bottom-color: transparent;
}
.copyright{
    font-size: 12px;
    line-height: 21px;
    margin-top: 45px;
    margin-left: -15px;
}
.creator{
    font-size: 12px;
    line-height: 21px;
}
.creator a{
    color: #21448b;
    text-decoration: underline;
}
.creator a:hover{
    text-decoration: none;
}
.socialNets{
    margin-top: 5px;
}
.socialItem{
    background: url(img/icons.png);
    height: 36px;
    display: block;
    float: left;
    margin-right: 16px;
}
.facebook{
    background-position: -16px 0;
    width: 20px;
}
.twitter{
    background-position: -43px 0;
    width: 40px;
}
.lj{
    background-position: -95px 0;
    width: 30px;
}

/*Diler`s page*/
.notMainPage .logoImage{
    margin-top: 24px;
}
.notMainPage .ticket{
    border: 1px solid #e3e3e3;
}
.dilerinform{
    padding-top: 112px;
    padding-bottom: 50px;
}
.dilerInformHeader{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
}
.dilerinform p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    color: #191919;
}
.whiteBorder{
    background: url(img/whiteBorder.jpg);
    height: 7px;
}
.appHeader{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}
.whiteInput{
    background: #f5f2e7;
    border: 1px solid #b8b8b8;
    width: 235px;
    height: 30px;
    padding-left: 10px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
}

.orgHeader{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
}
.centerOrgColumn,
.leftOrgColumn{
    width: 330px;
    float: left;
}
.rightOrgColumn{
    width: 300px;
    float: left;
}
.textLabel{
    display: block;
    font-size: 13px;
line-height: 20px;
color: black;
}
.whiteTextarea{
    width: 100%;
    background: #f5f2e7;
    border: 1px solid #b8b8b8;
    padding: 10px;
    border-radius: 5px;
    height: 171px;
    margin: 5px 0 15px 0;
    font-family: Tahoma;
}
input#telI{
    width: 113px;
}

.whiteYellowBorder{
    background: url(img/whiteYellowBorder.jpg);
height: 4px;
position: absolute;
bottom: 0;
width: 100%;
}

.notMainPage .ticket .borderBottom{
    background: url(img/whiteBorder.jpg) -6px;
height: 6px;
bottom: -3px;
}


/*Documents page*/
.documentsContainer{
    margin-bottom: 22px;
}
.oneDocument{
    width: 240px;
    float: left;
    text-align: left;
    position: relative;
}
.document{
    width: 215px;
    height: 161px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.38);  
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.38);
box-shadow: 0px 1px 3px rgba(0,0,0,0.38);
}
.stDoc{
    width: 215px;
}
.loop{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.document a{
    font-size: 14px;
    line-height: 18px;
    color: black;
    display: block;
    margin: 23px;
}
.document a span{
    border-bottom: 1px solid #aaaaaa;
}
.document a:hover span{
    border-bottom-color:transparent;
}

.doc1{
    background: url(img/doc1.jpg);
}
.realDoc{
    cursor: pointer;
}
.unknownDoc{
    background: #f9f9f9;
}

.oneDocument{
    font-size: 14px;
    line-height: 18px;
    margin-top: 40px;
}
.algorithm{
    position: relative;
}
.algorithm .appHeader{
    margin-bottom: 40px;
}
.algorithmLine{
    margin-bottom: 63px;
}

.algorithmStep{
    width: 327px;
    float: left;
}
.algStepNumber{
    margin-left: -10px;
}
.algStepHeader{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #191919;
    margin-top: 5px;
    width: 270px;
}
.algStepContent{
    font-size: 14px;
    line-height: 21px;
    color: #191919;
    width: 290px;
}

.docP .dilerInformHeader{
    margin-bottom: 10px;
}
.rightAlgInstr{
    background: url(img/rightAlgInstr.png);
    position: absolute;
    width: 297px;
    height: 394px;
    right: -34px;
    top: -77px;
    padding-top: 41px;
    padding-right: 53px;
    padding-left: 12px;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    font-style: italic;
}
.secondLine{
    margin-top: 66px;
}
.thirdLine{
    margin-top: 66px;
    padding: 0 30px;
}

.documentBorderBottom{
background: url(img/docBB2.png) 4px;
height: 9px;
width: 215px;
margin-top: -11px;
position: absolute;
top: 168px;
}

/*Comments page*/
.commentsPage .underHederText{
    width: 860px;
}
.commentsPage .appHeader{
    margin-bottom: 10px;
}
.leftCommentFormColumn{
    width: 300px;
    float: left;
}
.rightCommentFormColumn{
    width: 660px;
    float: left;
}
textarea#comFormText{
    height: 243px;
}
.commentsPage .whiteInput{
    width: 263px;
    margin-bottom: 12px;
}
.commentsPage .textLabel {
    font-size: 14px;
}
input#comPhone{
    width: 143px;
}
.commentsPage .sendButton{
    text-align: right;
}
.commentsPage .sendButton img{
    margin-top: 0;
}
.commentsPage .sendButImg{
    vertical-align: middle;
}
.commentsPage .sendButton a{
    font-size: 14px;
    margin-right: 25px;
    color: black;
}
.commentsPage .sendButton a span{
    border-bottom: 1px solid #b8b8b8;
}
.commentsPage .sendButton a:hover span{
    border-bottom-color: transparent;
}
.addFileClass{
    vertical-align: middle;
    margin-right: 8px;
}
.commentsPage .dilerinform{
    padding-bottom: 40px;
}
.commentsPart .pageContainer{
    margin-top: 84px;
}

.leftCommentPart{
    width: 225px;
    float: left;
    text-align: right;
}
.rightCommentPart{
    width: 663px;
    float: right;
}
.commentDate{
    font-size: 14px;
    color: #7c7c7c;
    font-style: italic;
}
.personName{
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}
.commentText{
    
}











